.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#5929b8d1, #ba52d4);
}

body {
  margin: 0;
  padding: 0;
}

.navBar {
  margin: 0;
}

.Home {
  width: 300%;
  max-width: 540px;
  
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  text-align: center;
  text-shadow: 0dvh;
}

.Name {
  font-size: medium;
}

.FormPage {
  margin: 10;
  background-color: lightblue;
}

span {
  color: red;
}